.nav-item {
  min-height: dpi(56px);
  margin-bottom: dpi(12px);
}

.workspace {
  background-color: $bg;
  color: $secondary;
  font-family: "icomoon";
  font-size: dpi(24pt);
  transition: font-size 0.4s;
  &:hover {
      color: $on-secondary-container;
    }
  .empty {
    color: #666;
    min-height: dpi(56px);
    &:hover {
      color: $on-surface;
    }
  }
  .focus {
    border-color: $secondary-container;
    background-color: $secondary-container;
    color: $on-secondary-container;
    border-radius: 50%;
    min-width: dpi(56px);
    min-height: dpi(56px);
  }
}

.nav-scroll {
  min-height: dpi(400px);
}
