.bar {
  .red {
    color: #ff0;
  }
}
.workspace {
  background-color: $bg;
  color: $secondary;
  font-family: "icomoon";
  font-size: dpi(24pt);
  min-width: dpi(56px);
  transition: font-size 0.4s;
  &:hover {
    color: $on-secondary-container;
  }
  .empty {
    color: #666;
    &:hover {
      color: $on-surface;
    }
  }
  .focus {
    border: dpi(6px) solid;
    border-color: $secondary-container;
    background-color: $secondary-container;
    color: $on-secondary-container;
    border-radius: dpi(28px);
    min-width: dpi(56px);
    min-height: dpi(32px);
  }
}
