.sidebar {
  background-color: $surface;
  color: $on-surface;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  .header {
    min-height: 24px;
    border-bottom: 1px solid $outline;
  }
  .tab-index {
    min-width: 24px;
  }

  .tab-index-1 {
    color: rgba($primary, 0.40);
  }
  .tab-index-2 {
    color: rgba($secondary, 0.40);
  }
  .tab-index-3 {
    color: rgba($on-surface, 0.40);
  }
  .focus {
    color: #f00;
  }
}
