.sidebar {
  background-color: $surface;
  color: $on-surface;
  padding: 0;
  .header {
    padding-left: dpi(24px);
    padding-right: dpi(24px);
    padding-top: dpi(24px);
    min-height: 24px;
    border-bottom: 1px solid $outline;
  }
  .tab-index {
    min-width: 24px;
  }

  .tab-index-1 {
    color: rgba($primary, 0.40);
  }
  .tab-index-2 {
    color: rgba($secondary, 0.40);
  }
  .tab-index-3 {
    color: rgba($on-surface, 0.40);
  }
  .focus {
    color: #f00;
  }
  .container {
    padding-top: dpi(12px);
    padding-left: dpi(24px);
    padding-right: dpi(24px);
    padding-bottom: dpi(24px);
  }
}
