/*
  Stolen on Aether
*/
@define-color background #131318;
@define-color foreground #E5E1E9;
@define-color black #131318;
@define-color red #F059B7;
@define-color green #55e7f9;
@define-color yellow #FFBFA5;
@define-color blue #7F93FF;
@define-color magenta #C781F8;
@define-color cyan #7DD9FF;
@define-color white #fbfafb;
@define-color bright_black #8b8999;
@define-color bright_red #F97AA5;
@define-color bright_green #53f3e1;
@define-color bright_yellow #f9e2af;
@define-color bright_blue #84B4F3;
@define-color bright_magenta #C590FF;
@define-color bright_cyan #5DC7E7;
@define-color bright_white #ffffff;

/* Adwaita Color Overrides */
@define-color accent_bg_color @blue;
@define-color accent_fg_color @background;
@define-color accent_color @cyan;
@define-color window_bg_color @background;
@define-color window_fg_color @foreground;

/* Sidebar background and content */
@define-color view_bg_color @black;
@define-color view_fg_color @foreground;
@define-color sidebar_bg_color @black;
@define-color sidebar_fg_color @foreground;
@define-color sidebar_backdrop_color @black;
@define-color sidebar_shade_color @black;
@define-color headerbar_bg_color alpha(@foreground, 0.1);
@define-color headerbar_fg_color @foreground;
@define-color headerbar_backdrop_color @black;
@define-color headerbar_shade_color @black;
@define-color card_bg_color alpha(@foreground, 0.1);
@define-color card_fg_color @foreground;
@define-color popover_bg_color @black;
@define-color popover_fg_color @foreground;
@define-color destructive_bg_color @red;
@define-color destructive_fg_color @background;
@define-color success_bg_color @green;
@define-color success_fg_color @background;
@define-color warning_bg_color @yellow;
@define-color warning_fg_color @background;
@define-color error_bg_color @red;
@define-color error_fg_color @background;
@define-color dialog_bg_color @background;
@define-color dialog_fg_color @foreground;
@define-color borders alpha(@foreground, 0.1);

/* GTK3 Adwaita Legacy Color Variables */
@define-color theme_fg_color @foreground;
@define-color theme_text_color @foreground;
@define-color theme_bg_color @background;
@define-color theme_base_color @black;
@define-color theme_selected_bg_color @blue;
@define-color theme_selected_fg_color @background;
@define-color insensitive_bg_color @background;
@define-color insensitive_fg_color @bright_black;
@define-color insensitive_base_color @black;
@define-color theme_unfocused_fg_color @foreground;
@define-color theme_unfocused_text_color @foreground;
@define-color theme_unfocused_bg_color @background;
@define-color theme_unfocused_base_color @black;
@define-color theme_unfocused_selected_bg_color @blue;
@define-color theme_unfocused_selected_fg_color @background;
@define-color unfocused_insensitive_color @bright_black;
@define-color unfocused_borders alpha(@foreground, 0.1);
@define-color warning_color @yellow;
@define-color error_color @red;
@define-color success_color @green;
@define-color destructive_color @red;

/* Content View Colors */
@define-color content_view_bg @black;
@define-color text_view_bg @black;

/* GtkMessageDialog styling */
/* Target the entire dialog's background */
messagedialog {
    background-color: @dialog_bg_color;
}

/* Target the main message label inside the dialog */
messagedialog label {
    color: @dialog_fg_color;
    font-size: 14pt;
    font-weight: bold;
}

/* Target the secondary, more detailed text (if any) */
messagedialog .secondary-text {
    font-size: 10pt;
    font-style: italic;
}

/* Target the buttons in the dialog's action area */
messagedialog button {
    background-color: @black;
    color: @foreground;
    border: 1px solid @bright_black;
    padding: 10px;
}

messagedialog button:hover {
    background-color: @blue;
}

banner revealer widget {
    background: @bright_black;
    padding: 5px;
    color: @foreground;
}

/* GtkAlertDialog styling */
alertdialog.background {
    background-color: @dialog_bg_color;
    color: @dialog_fg_color;
}

alertdialog .titlebar {
    background-color: @headerbar_bg_color;
    color: @headerbar_fg_color;
}

alertdialog box {
    background-color: @dialog_bg_color;
}

alertdialog label {
    color: @dialog_fg_color;
}

filechooser .dialog-action-box {
    border-top: 1px solid @bright_black;
}

filechooser .dialog-action-box:backdrop {
    border-top-color: @black;
}

filechooser #pathbarbox {
    border-bottom: 1px solid @bright_black;
}

filechooserbutton:drop(active) {
    box-shadow: none;
    border-color: transparent;
}

toast {
    background-color: @black;
    color: @foreground;
}

toast button.circular.flat.image-button:hover {
    color: @background;
    background-color: @red;
}

/* Sharp corners, Hyprland-inspired */
* {
    border-radius: 0;
}
