*.swp
*.swo
*.pyc

ncmpcpp/.ncmpcpp/error.log
gnupg/.gnupg/*.d
gnupg/.gnupg/pub*.*
gnupg/.gnupg/rand*
gnupg/.gnupg/trust*
mutt/.mutt/gpg.rc
nnn/.config/nnn/.history

vifm/.config/vifm/scripts/
vifm/.config/vifm/*.txt
vifm/.config/vifm/*.json
vifm/.config/vifm/vifmi*
