$primary: #ffb3ae;
$on-primary: #571d1c;
$primary-container: #733331;
$on-primary-container: #ffdad7;
$secondary: #ffb2bd;
$on-secondary: #561d29;
$tertiary: #ffb688;
$on-tertiary: #512400;
$bg: #1a1111;
$surface: #1a1111;
$on-surface: #f1dedd;
$surface-container: #271d1d;
$surface-container-low: #231919;
$surface-container-high: #322827;
$surface-container-highest: #3d3231;
$on-surface-variant: #d8c2c0;
$secondary-container: #72333f;
$on-secondary-container: #ffd9dd;
$error: #eebf6d;
$on-error: #422d00;
$error-container: #5e4200;
$on-error-container: #ffdea8;
$outline: #a08c8b;
$outline-variant: #534342;
$scrim: #000000;
$shadow: #000000;
$surface-tint: #ffb3ae;
$inverse-surface: #f1dedd;
$inverse-on-surface: #382e2d;
