// material(3) use 2 fonts mainly and name it:
// md.ref.typeface.brand
// md.ref.typeface.plain
//@import "brand-yotags.scss";
//@import "plain-iosevka.scss";

//$brand: 'Y-Yo Tags';
// weird $brand: "FUNNY CHAOS";
// no change on Number $brand: "Tagster";
// challenger $brand: "TAGLINER";
$brand: "TAGLINER";
$plain: "Iosevka Nerd Font";

.display-large {
  font-family: $brand;
  //font-size: dpi(60pt);
  font-size: dpi(52pt);
  letter-spacing: dpi(-4pt);
  font-weight: 500;
}

.display-small {
  font-family: $brand;
  //font-size: dpi(56pt);
  //font-size: dpi(55pt);
  font-size: dpi(44pt);
  letter-spacing: 0;
  //letter-spacing: dpi(-4pt);
  //font-weight: 400;
  font-weight: 600;
}

.headline-small {
  font-family: $plain;
  font-size: dpi(24pt);
  font-weight: 400;
  letter-spacing: 0;
  color: $on-surface;
}

.title-small {
  font-family: $plain;
  font-size: dpi(14pt);
  font-weight: 500;
  min-height: dpi(20pt);
  letter-spacing: dpi(0.1pt);
}

.body-large {
  font-family: $plain;
  font-weight: 400;
  font-size: dpi(16pt);
  letter-spacing: dpi(0.5pt);
}

.body-medium {
  font-family: $plain;
  font-weight: 400;
  font-size: dpi(14pt);
  min-height: dpi(20pt);
  // also named font-tracking
  letter-spacing: dpi(0.25pt);
  color: $on-surface-variant;
}

.body-small {
  font-family: $plain;
  font-weight: 400;
  font-size: dpi(12pt);
  min-height: dpi(16pt);
  // also named font-tracking
  letter-spacing: dpi(0.4pt);
}

.label-large {
  font-family: $plain;
  font-size: dpi(14pt);
  font-weight: 500;
  letter-spacing: dpi(0.1pt);
  min-height: dpi(20px);
}

.label-medium {
  font-family: $plain;
  font-size: dpi(12pt);
  font-weight: 500;
  letter-spacing: dpi(0.5pt);
  min-height: dpi(16px);
}
