.m3-icon {
  .icon-button {
    font-family: "Material Symbols Outlined";
    font-size: dpi(24px);
    color: $on-surface-variant;
    min-width: dpi(40px);
    min-height: dpi(40px);
    border-radius: 50%;
    &:hover {
      color: $on-surface-variant;
      background-color: rgba($primary, 0.08);
    }
  }
}

.icon-filled {
  font-family: "Material Symbols Outlined";
  font-size: 24px;
  min-height: 40px;
  min-height: 40px;
  background-color: $primary;
  color: $on-primary;
  border-radius: 50%; // circular
  & button:hover {
    background-color: rgba($on-primary, 0.08);
    border-radius: 50%; // circular
  }
  &.secondary {
    background-color: $secondary;
    color: $on-secondary;
    border-radius: 50%; // circular
    & button:hover {
      background-color: rgba($on-secondary, 0.08);
      border-radius: 50%; // circular
    }
  }
  &.tertiary {
    background-color: $tertiary;
    color: $on-tertiary;
    border-radius: 50%; // circular
    & button:hover {
      background-color: rgba($on-tertiary, 0.08);
      border-radius: 50%; // circular
    }
  }
  &.error {
    background-color: $error;
    color: $on-error;
    border-radius: 50%; // circular
    & button:hover {
      background-color: rgba($on-error, 0.08);
      border-radius: 50%; // circular
    }
  }
}

.icon-filled-tonal {
  font-family: "Material Symbols Outlined";
  font-size: dpi(24px);
  min-height: dpi(40px);
  min-height: dpi(40px);
  background-color: $secondary-container;
  color: $on-secondary-container;
  border-radius: 50%; // circular
  & button:hover {
    background-color: rgba($on-secondary-container, 0.08);
    border-radius: 50%; // circular
  }
}
/*
  &.primary {
    background-color: $primary-container;
    color: $on-primary-container;
    border-radius: 50%; // circular
    & button:hover {
      background-color: rgba($on-primary-container, 0.08);
      border-radius: 50%; // circular
    }
  }
  &.tertiary {
    background-color: $tertiary-container;
    color: $on-tertiary-container;
    border-radius: 50%; // circular
    & button:hover {
      background-color: rgba($on-tertiary-container, 0.08);
      border-radius: 50%; // circular
    }
  }
  &.error {
    background-color: $error-container;
    color: $on-error-container;
    border-radius: 50%; // circular
    & button:hover {
      background-color: rgba($on-error-container, 0.08);
      border-radius: 50%; // circular
    }
  }
}
*/
.icon-outlined {
  font-family: "Material Symbols Outlined";
  font-size: dpi(24px);
  min-height: dpi(40px);
  min-height: dpi(40px);
  background-color: $inverse-surface;
  color: $inverse-on-surface;
  border-radius: 50%; // circular
  border: 1px solid $outline;
  & button:hover {
    background-color: rgba($inverse-on-surface, 0.08);
    border-radius: 50%; // circular
  }
}

// button-outlined
.button-tonal {
  padding: dpi(16px);
  border-radius: 50%;
  min-height: dpi(40px);
  margin-left: dpi(4px); // total 8
  margin-right: dpi(4px); // total 8
  .text {
    font-size: dpi(14pt);
    letter-spacing: dpi(0.1pt);
    font-weight: 500;
  }
  &.enabled {
    //background-color: $secondary-container;
    //color: $on-secondary-container;
    color: $primary;
    border: dpi(1px) solid $outline;
  }
  &.disabled {
    //background-color: rgba($on-surface, 0.12);
    color: rgba($on-surface, 0.38);
    border: dpi(1px) solid rgba($on-surface, 0.12);
  }
  .icon {
    font-family: "icomoon";
    font-size: dpi(18px);
    margin-top: dpi(8px);
  }
}

.fab {
  background-color: $primary-container;
  border-radius: dpi(12px);
  min-height: dpi(56px);
  min-width: dpi(56px);
  margin: dpi(16px);
  .fab-icon {
    font-family: "Material Symbols Outlined";
    font-size: dpi(24pt);
    color: $on-primary-container;
  }
  &:hover {
    background-color: rgba($on-primary-container, 0.08);
  }
}

.small-fab {
  background-color: $primary-container;
  border-radius: dpi(12px);
  min-height: dpi(40px);
  min-width: dpi(40px);
  margin: dpi(8px);
  .small-fab-icon {
    font-family: "Material Symbols Outlined";
    font-size: dpi(24pt);
    color: $on-primary-container;
  }
  &:hover {
    background-color: rgba($on-primary-container, 0.08);
  }
}
