.m3-icon {
  .icon-button {
    font-family: "Material Symbols Outlined";
    font-size: 24px;
    color: $on-surface-variant;
    min-width: 40px;
    min-height: 40px;
    border-radius: 24px;
    &:hover {
      color: $primary;
      background-color: rgba($primary, 0.08);
    }
  }
}

.icon-filled {
  font-family: "Material Symbols Outlined";
  font-size: 24px;
  min-height: 40px;
  min-height: 40px;
  background-color: $primary;
  color: $on-primary;
  border-radius: 50%; // circular
  & button:hover {
    background-color: rgba($on-primary, 0.08);
    border-radius: 50%; // circular
  }
  &.secondary {
    background-color: $secondary;
    color: $on-secondary;
    border-radius: 50%; // circular
    & button:hover {
      background-color: rgba($on-secondary, 0.08);
      border-radius: 50%; // circular
    }
  }
  &.tertiary {
    background-color: $tertiary;
    color: $on-tertiary;
    border-radius: 50%; // circular
    & button:hover {
      background-color: rgba($on-tertiary, 0.08);
      border-radius: 50%; // circular
    }
  }
  &.error {
    background-color: $error;
    color: $on-error;
    border-radius: 50%; // circular
    & button:hover {
      background-color: rgba($on-error, 0.08);
      border-radius: 50%; // circular
    }
  }
}
