.card-elevated {
  border-radius: dpi(12px);
  background-color: $surface-container-low;
  box-shadow: 2px 2px 2px 1px $shadow;
  padding-left: dpi(16px);
  padding-right: dpi(16px);
}

.card-icon {
  button {
    box-shadow: $elevate1;
    background-color: $surface-container-low;
    color: $on-surface;
    padding: dpi(16px);
    border-radius: dpi(16px);
    transition:
      transform 0.3s,
      border-radius 0.3s,
      padding 0.3s;
    &:hover {
      background-color: rgba($surface-tint, 0.08);
      box-shadow: $elevate2;
    }
    .icon {
      font-family: 'Material Symbols Outlined';
      font-size: dpi(48px);
    }
  }
}

.card-image {
  button {
    box-shadow: $elevate1;
    background-color: $surface-container-low;
    color: $on-surface;
    border: 1px solid transparent;
    border-radius: dpi(16px);
    transition:
      transform 0.3s,
      border-radius 0.3s,
      padding 0.3s;
    &:hover {
      background-color: rgba($surface-tint, 0.08);
      box-shadow: $elevate2;
    }
    image {
      border: 1px solid transparent;
      border-radius: dpi(16px);
      min-width: dpi(200px);
      min-height: dpi(100px);
    }
    .title-small {
      padding: dpi(16px);
    }
    .wall {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: dpi(18px);
      min-width: dpi(200px);
      min-height: dpi(200px);
    }
  }
}
