.date {
  margin-top: 12px;
  font-family: "demova";
  font-size: 54px;

  // top, right, bottom, left
  .day {
    margin: -6px -6px;
  }

  .daynb {
    margin-left: 6px;
    margin-top: 8px; // align
    font-weight: bold;
  }
}

.home-progress {
  //border: 1px solid #f00;
}

.sun {
  font-family: "Material Symbols Outlined";
  font-weight: bold;
  font-size: 48px;
  min-height: 66px;
  min-width: 66px;
  //border: 1px solid #f00;
}

.primary {
  color: $primary;
}
