.music-card {
  @extend .card-elevated;
  padding: 0;
  border-radius: 0 0 dpi(33px) dpi(33px); // only bottom
  min-height: dpi(444px);
  margin-top: dpi(16px);
  .container {
    padding: dpi(16px);
  }
  // arrange until the music panel occupe the whole space available
  .music-text {
    padding-top: dpi(34px);
    padding-bottom: dpi(34px);
  }
  .music-slider {
    padding-left: dpi(16px);
    padding-right: dpi(16px);
    margin-top: dpi(16px);
  }
}

.music-playlist {
  min-height: dpi(120px);
  margin-top: dpi(16px);
}

.music-cover {
  margin-top: dpi(6px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: dpi(18px);
  min-width: dpi(220px);
  min-height: dpi(130px);
}
