.music-card {
  @extend .card-elevated;
  padding: 0;
  border-radius: 0 0 33px 33px; // only bottom
  min-height: dpi(400px);
  margin-top: dpi(16px);
  .container {
    padding: dpi(16px);
  }
  .music-text {
    padding-top: dpi(16px);
    padding-bottom: dpi(16px);
  }
  .music-slider {
    padding-left: dpi(16px);
    padding-right: dpi(16px);
    margin-top: dpi(16px);
  }
}

.music-playlist {
  min-height: dpi(100px);
  margin-top: dpi(16px);
}
