// https://m3.material.io/styles/typography/type-scale-tokens
.title-small {
  font-family: "Iosevka Nerd Font";
  font-size: dpi(14pt);
  font-weight: 500;
  min-height: dpi(20pt);
  letter-spacing: dpi(0.1pt);
}

.body-medium {
  font-family: "Iosevka Nerd Font";
  font-weight: 400;
  font-size: dpi(14pt);
  min-height: dpi(20pt);
  // also named font-tracking
  letter-spacing: dpi(0.25pt);
}

.body-small {
  font-family: "Iosevka Nerd Font";
  font-weight: 400;
  font-size: dpi(12pt);
  min-height: dpi(16pt);
  // also named font-tracking
  letter-spacing: dpi(0.4pt);
}

.music-card {
  @extend .card-elevated;
  padding: 0;
  border-radius: 0 0 33px 33px; // only bottom
  min-height: dpi(400px);
  margin-top: dpi(16px);
  .container {
    padding: dpi(16px);
  }
}
