// https://m3.material.io/components/progress-indicators/specs
.progressbar {
  min-height: 4px;
  min-width: 40px;
  progressbar > trough {
    min-width: 40px;
    min-height: 4px;
    background-color: $secondary-container;
  }
  progressbar > trough progress {
    min-height: 4px;
    background-color: $primary;
  }
  .icon {
    font-size: 21px;
    font-family: "Material Symbols Outlined";
    color: $on-surface-variant;
  }
}

.progressbar-circular {
  min-height: 40px;
  min-width: 40px;
  transition: color 0.2s;
  color: $primary;
  .backdrop {
    color: $secondary-container;
  }
  .icon {
    font-size: 21px;
    font-family: "Material Symbols Outlined";
    color: $on-surface-variant;
  }
}
