.slider-vertical {
  scale {
    margin: dpi(6px);
  }

  scale trough {
    background-color: $secondary-container;
    min-height: dpi(80px);
    min-width: dpi(38px);
    border-radius: dpi(18px);
  }

  scale trough highlight {
    background-color: $primary;
    border-radius: dpi(18px);
    transition: 0.3s;
  }
}

.slider-horizontal {
  scale {
    margin: dpi(6px);
  }

  scale trough {
    background-color: $secondary-container;
    min-height: dpi(50px);
    min-width: dpi(100px);
    border-radius: dpi(14px);
  }

  scale trough highlight {
    background-color: $primary;
    transition: 0.3s;
    border-radius: dpi(14px);
  }
}
