$primary: #FFB3AE;
$on-primary: #571D1C;
$primary-container: #733331;
$on-primary-container: #FFDAD7;
$secondary: #FFB2BD;
$on-secondary: #561D29;
$tertiary: #FFB688;
$on-tertiary: #512400;
$bg: #1A1111;
$surface: #1A1111;
$on-surface: #F1DEDD;
$surface-container: #271D1D;
$surface-container-low: #231919;
$surface-container-high: #322827;
$surface-container-highest: #3D3231;
$on-surface-variant: #D8C2C0;
$secondary-container: #72333F;
$on-secondary-container: #FFD9DD;
$error: #EEBF6D;
$on-error: #422D00;
$error-container: #5E4200;
$on-error-container: #FFDEA8;
$outline: #A08C8B;
$outline-variant: #534342;
$scrim: #000000;
$shadow: #000000;
$surface-tint: #FFB3AE;
$inverse-surface: #F1DEDD;
$inverse-on-surface: #382E2D;
