$primary: #C6C0FF;
$on-primary: #2E295F;
$primary-container: #454078;
$on-primary-container: #E4DFFF;
$secondary: #D1BCFD;
$on-secondary: #37265C;
$tertiary: #E8B6F0;
$on-tertiary: #462151;
$bg: #131318;
$surface: #131318;
$on-surface: #E5E1E9;
$surface-container-low: #1C1B20;
$surface-container-high: #2A292F;
$surface-container-highest: #35343A;
$on-surface-variant: #C8C5D0;
$secondary-container: #4E3D75;
$on-secondary-container: #EADDFF;
$error: #FFB4AB;
$on-error: #690005;
$error-container: #93000A;
$on-error-container: #FFDAD6;
$outline: #928F99;
$outline-variant: #47464F;
$scrim: #000000;
$shadow: #000000;
$surface-tint: #C6C0FF;
$inverse-surface: #E5E1E9;
$inverse-on-surface: #313036;
