$primary: #BAC3FF;
$on-primary: #222C61;
$primary-container: #394379;
$on-primary-container: #DEE0FF;
$secondary: #D1BCFD;
$on-secondary: #37265C;
$tertiary: #E8B6F0;
$on-tertiary: #462151;
$bg: #141218;
$surface: #141218;
$on-surface: #E7E0E8;
$surface-container-low: #1D1B20;
$surface-container-high: #2B292F;
$surface-container-highest: #36343A;
$on-surface-variant: #C9C4D0;
$secondary-container: #4E3D75;
$on-secondary-container: #EADDFF;
$error: #FFB4AB;
$on-error: #690005;
$error-container: #93000A;
$on-error-container: #FFDAD6;
$outline: #938F99;
$outline-variant: #48454E;
$scrim: #000000;
$shadow: #000000;
$surface-tint: #BAC3FF;
$inverse-surface: #E7E0E8;
$inverse-on-surface: #322F35;
