# Config file found here: 
# https://stribika.github.io/2015/01/04/secure-secure-shell.html

Protocol 2
AllowGroups ssh-user

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

# Disable password
PasswordAuthentication no
ChallengeResponseAuthentication no
PermitEmptyPasswords no

# Only auth pubkey
PubkeyAuthentication yes
