// Unsets everything so you can style everything from scratch
* {
  all: unset;
}

@import '_scale.scss';

@function dpi($value) {
  $unit: if(unitless($value), null, unit($value));

  @if ($unit == "px" or $unit == "pt") {
    @return ($value * $scale);
  } @else {
    // Return the original value if it's not px or pt
    @return $value;
  }
}

@import 'globals.scss';
@import 'colors.scss';
@import 'typography.scss';

@import 'widgets/button.scss';
@import 'widgets/progressbar.scss';
@import 'widgets/slider.scss';
@import 'widgets/card.scss';
@import 'widgets/chips.scss';
@import 'widgets/list.scss';

@import 'widgets/home.scss';
@import 'widgets/music.scss';
@import 'widgets/network.scss';

@import 'windows/bar.scss';
@import 'windows/sidebar.scss';
@import 'windows/powermenu.scss';
@import 'windows/playlists.scss';

window background {
  color: $bg;
}

.bar {
  background-color: $bg;
}

