#!/usr/bin/env sh

set -o errexit -o nounset

userresources="$HOME"/.Xresources

# xprofile is loaded by lightdm
if [ -f "$userresources" ]; then
  if [ -f /usr/bin/cpp ] ; then
    xrdb -merge -cpp /usr/bin/cpp "$userresources"
  else
    xrdb -merge "$userresources"
  fi
fi

light -I
