!-------------------------------------------
! XFT Settings gre

Xft.antialias:  true
Xft.autohint:   false
Xft.dpi:        96
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

!-------------------------------------------
! Man pages colors

*VT100.colorBDMode:                  true
*VT100.colorBD:                      red
*VT100.colorULMode:                  true
*VT100.colorUL:                      cyan
*VT100.veryBoldColors:               6

!-------------------------------------------
! rofi

rofi.lines:                         2
rofi.color-enabled:                 true
rofi.separator-style:               none 
rofi.width:                         33
rofi.line-padding:                  6
rofi.hide-scrollbar:                True
rofi.columns:                       2

!-------------------------------------------
! xst

! ref: https://github.com/gnotclub/xst/blob/master/doc/Xresources
st.termname:     xst-256color
st.shell:        /bin/zsh
st.cursorshape:   2
st.borderpx:      10
st.disablebold:   0
st.disableitalics:0
st.disableroman:  0
st.chscale:       1.0
st.cwscale:       1.0

!--------------------------------------------
! General Colors & Fonts

#include ".Xresources.d/colors"
#include ".Xresources.d/fonts"

*background: base00
*foreground: base04
*cursorColor: base04
*fadeColor: base03

! black
*color0: base01
*color8: base02

! ! red
*color1: base0B
*color9: base0C

! ! green
*color2: base0E
*color10: base0E

! ! yellow
*color3: base0D
*color11: base0D

! ! blue
*color4: base09
*color12: base0A

! ! magenta
*color5: base0F
*color13: base0F

! ! cyan
*color6: base08
*color14: base07

! ! white
*color7: base05
*color15: base06
