$primary: #d7baff;
$on-primary: #430088;
$primary-container: #8a55d7;
$on-primary-container: #fef6ff;
$secondary: #d5bcf7;
$on-secondary: #3a2657;
$tertiary: #ffb695;
$on-tertiary: #571f00;
$bg: #15121a;
$surface: #15121a;
$on-surface: #e8e0eb;
$surface-container: #221e26;
$surface-container-low: #1e1a22;
$surface-container-high: #2c2831;
$surface-container-highest: #37333c;
$on-surface-variant: #cdc3d5;
$secondary-container: #513d6f;
$on-secondary-container: #c3abe4;
$error: #ffb4ab;
$on-error: #690005;
$error-container: #93000a;
$on-error-container: #ffdad6;
$outline: #968d9e;
$outline-variant: #4b4453;
$scrim: #000000;
$shadow: #000000;
$surface-tint: #d7baff;
$inverse-surface: #e8e0eb;
$inverse-on-surface: #332f37;
