$primary: #83D2E3;
$on-primary: #00363E;
$primary-container: #004E5A;
$on-primary-container: #A2EEFF;
$secondary: #B1CBD1;
$on-secondary: #1C3439;
$tertiary: #BCC5EB;
$on-tertiary: #262F4D;
$bg: #0E1416;
$surface: #0E1416;
$on-surface: #DEE3E5;
$surface-container: #1B2122;
$surface-container-low: #171D1E;
$surface-container-high: #252B2C;
$surface-container-highest: #303637;
$on-surface-variant: #BFC8CA;
$secondary-container: #334A50;
$on-secondary-container: #CDE7ED;
$error: #FFB4AB;
$on-error: #690005;
$error-container: #93000A;
$on-error-container: #FFDAD6;
$outline: #899295;
$outline-variant: #3F484A;
$scrim: #000000;
$shadow: #000000;
$surface-tint: #83D2E3;
$inverse-surface: #DEE3E5;
$inverse-on-surface: #2B3133;
