$primary: #83d2e3;
$on-primary: #00363e;
$primary-container: #004e5a;
$on-primary-container: #a2eeff;
$secondary: #b1cbd1;
$on-secondary: #1c3439;
$tertiary: #bcc5eb;
$on-tertiary: #262f4d;
$bg: #0e1416;
$surface: #0e1416;
$on-surface: #dee3e5;
$surface-container: #1b2122;
$surface-container-low: #171d1e;
$surface-container-high: #252b2c;
$surface-container-highest: #303637;
$on-surface-variant: #bfc8ca;
$secondary-container: #334a50;
$on-secondary-container: #cde7ed;
$error: #ffb4ab;
$on-error: #690005;
$error-container: #93000a;
$on-error-container: #ffdad6;
$outline: #899295;
$outline-variant: #3f484a;
$scrim: #000000;
$shadow: #000000;
$surface-tint: #83d2e3;
$inverse-surface: #dee3e5;
$inverse-on-surface: #2b3133;
// can be any colors match with the theme...
$green: #c2b9f8;
$on-green: #000000;
$blue: #ecbd79;
$on-yellow: #000000;
$yellow: #d1fcff;
$on-blue: #000000;
