$primary: #E1B7F5;
$on-primary: #422255;
$secondary: #C8BFFF;
$on-secondary: #30285F;
$tertiary: #81D3DE;
$on-tertiary: #00363B;
$bg: #101418;
$surface: #101418;
$on-surface: #E0E2E8;
$surface-container-high: #272A2E;
$on-surface-variant: #CEC3CD;
$secondary-container: #463F77;
$on-secondary-container: #E5DEFF;
$error: #FFB4AB;
$on-error: #690005;
$outline: #978E97;
$scrim: #000000;
$surface-tint: #E1B7F5;
