# File found here:
# https://stribika.github.io/2015/01/04/secure-secure-shell.html

# replace %h with value of hostname into /var/lib/tor/hidden_service/ssh/hostname
# replace %p with ssh localport
# replace %t with torsocks
Host *.onion
   ProxyCommand socat - SOCKS4A:localhost:%h:%p,socksport=%t

Host *
   PasswordAuthentication no
   ChallengeResponseAuthentication no
   PubkeyAuthentication yes
   
   KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
   HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ssh-ed25519,ssh-rsa
   Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
   MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com
