$primary: #c6c0ff;
$on-primary: #2e295f;
$primary-container: #454078;
$on-primary-container: #e4dfff;
$secondary: #d1bcfd;
$on-secondary: #37265c;
$tertiary: #e8b6f0;
$on-tertiary: #462151;
$bg: #131318;
$surface: #131318;
$on-surface: #e5e1e9;
$surface-container: #201f25;
$surface-container-low: #1c1b20;
$surface-container-high: #2a292f;
$surface-container-highest: #35343a;
$on-surface-variant: #c8c5d0;
$secondary-container: #4e3d75;
$on-secondary-container: #eaddff;
$error: #ffb4ab;
$on-error: #690005;
$error-container: #93000a;
$on-error-container: #ffdad6;
$outline: #928f99;
$outline-variant: #47464f;
$scrim: #000000;
$shadow: #000000;
$surface-tint: #c6c0ff;
$inverse-surface: #e5e1e9;
$inverse-on-surface: #313036;
